@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 1000px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .round {
    clip-path: ellipse(80% 50% at 50% 50%);
  }
  